
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,600&display=swap');

#navbar a:hover{
    color:#dd2323;
}
.myButton{
    border: 2px solid #E42917;
    padding: 5px 20px;
    background-color: black;
    color: #E42917;
    border-radius: 10px;
    text-decoration: none;
    font-size: 20px;
}
.myButton:hover{
    color: white;
    background-color: #E42917;
}
.title{
    color: #E42917;
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Lora', serif;
}